* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #ffffff;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.create-account {
  text-align: center;
}
.input {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  height: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: black;
}
input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.6);
}
.validation {
  color: red;
}
.check-list {
  width: 50%;
  list-style: none;
  font-size: 0.8rem;
}
.button {
  margin-top: 10px;
  width: 50%;
  background-color: #4ecdc4;
  border: none;
  color: rgb(245, 236, 236);
  height: 30px;
  cursor: pointer;
}
.button:hover {
  margin-top: 10px;
  width: 50%;
  background-color: #32857f;
  border: none;
  color: rgb(245, 236, 236);
  height: 30px;
  cursor: pointer;
}
